* {
  margin: 0;
  padding: 0;
  font-family:  Helvetica, Verdana, sans-serif;
  box-sizing: border-box;
}

.centered {
	text-align: center;
	
}



section#spedizione {
    clear: both;
    position: relative;
    height: 50%;
    margin: 0;
    padding-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    background: #455a64;
  }

section#spedizione img { height: 30px; weight: 30px; }

header{
    display: flex;
    background-color: #263238;
    justify-content: space-between;
    height: : 100px;


}

.logo , .menu , .user { min-width:  100px; }

.logo { display: inline; color: white; }
.logo a { text-decoration: none; display: block;  life-style-type: none; color: white; }
.logo img { max-height: 150px; max-width: 250px; margin-left: 20px; margin-top: 20px; padding-top: 20px; padding-bottom: 20px;}


.menu ul { padding: 60px; list-style-type: none; }
.menu ul li { display: inline-block; }
.menu ul li a { padding: 20px; display: block; text-decoration: none; color: white; }

.user a{ text-decoration: none;
  padding: 10px;
  display: block;
}

.user ul { padding: 10px; life-style-type: none; }

.user ul li { display: inline-block; }

.user img { max-height: 60px; max-width: 80px; }

.badged {
    position: absolute;
    display: block;
    top: 80px;
    right: 0;
    padding: 4px 5px;
    font-size: 12px !important;
    font-weight: 700;
    color: #fff;
    background: #f8981d;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    border-radius: 18px;

}

.slider {

  max-width: 900px;
  margin: 0 auto;
  display: flex;
  padding: 20px;
 }

.categorie { font-size: 30px; text-align: center; margin-top: 15px; margin-bottom: 50px; color: grey}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  flex-basis: 20%;
  padding: 20px;

}

.item img {

      max-width: 650px;
      max-height: 450px;


}

.item a {
  color: black;
  text-decoration: none;
  text-align: center;
}




#footer {
	
	
	position: absolute;
	bottom: 0;
	left: 0;
    background-color: #455a64;
    clear:both;
    width: 100%;
    padding: 0;
    text-align: center;
    font-size: 100%;
    line-height: normal;
    color: white;
   }


   .info {

     display: flex;
     background-color: grey;
     justify-content: center;

   }

   .info ul {
   	  list-style-type: none;
      padding: 10px;
      life-style-type: none;
      display: inline-block;
    }

    .info ul li a{
      padding: 10px;
      display: block;
      text-decoration: none;
      color: white;

    }
    
  

    .payment a{
      text-decoration: none;
      padding: 0;
      display: block;
    }

    .payment ul { padding: 0; life-style-type: none; }

    .payment ul li { display: inline-block; }
