@charset "ISO-8859-1";

/* ! Base  */

body{
	font-family: 'Inter', sans-serif;
	font-size:16px;
	background:#F5F5F5;
}

a{
	text-decoration: none;
}

h1,h2,h3,h4,h5,p{
	color:#000;
	padding-bottom:30px;
}

p{
	line-height: 20px;
	color:#666;
	font-size: 20px;
}

.big-text{
	font-size: 70px;
	font-weight: 900;
}

.med-text{
	font-size: 40px;
}

.normal-text{
	font-size: 20px;
}

.small-text{
	font-size: 14px;
}

.intro-text{
	text-transform: uppercase;
	font-size: 20px;
	font-weight: bold;
}



.button{
	padding : 18px 28px;
	background: #FF7F00;
	color: black;
	display: inline-block;
	border-radius: 4px;
	font-size: 15px;
	font-weight: bold;
}


@media (max-width: 768px){
	.big-text{font-size: 40px;}
}


/* ! Header  */

.header{
	width: 100%;
	position: fixed;
	top:0;
	left:0;
	padding: 30px;
	display:flex;
	max-width: 1350;
	z-index:10;
}

.menu{
	width:100%;
	z-index: 0;
	transition: all 1s cubic-bezier(.215, .61, .355, 1);
}

.menu li{ 
	display: inline-block;
}

.menu li a {
	color: #fff;
	padding: 20px;
	display: block;
}

.logo{
	z-index: 1;
}

.logo img{
	width:80px;
	
}
.cta{
	padding-top: 20px;
}

.hamburger{display:none;}

@media (max-width: 768px){
	.cta{display:none;}
	.menu{position:absolute; top:0; right:-100%; background: black; height:100vh; padding-top:80px;}
	.menu li{display:block;}
	.menu li a{padding: 15px 30px; }
	.menu--open{right:0; padding-top:120px; font-size:25px; font-weigth:bold;}
	.logo img{width:70px;}
	.hamburger{
		display:block;
		width: 30px;
		height: 30px;
		position: absolute;
		top:40px;
		right:30px;
	}
	.hamburger span{
		background:white;
		height:3px;
		width:100%;
		display:block;
		margin-bottom: 5px;
	}
}

/* ! Hero  */

.hero{
	position:relative;
	height: 100vh;
	display:flex;
	width:100%;
	align-items:center;
	background:  no-repeat center center;
	background-size: cover;
	overflow:hidden;
}

.hero:after{
	content:'';
	width: 100%;
	height:100%;
	display:block;
	position: absolute;
	top:0;
	left:0;
	background: #000;
	opacity: 0.6;
}

.hero__content{
	width:100%;
	max-width: 1350px;
	margin: 0 auto;
	padding: 0 30px;
	z-index:1;
	position:relative;
}

.hero__content p, 
.hero__content h1{color:#fff;}

#video-back{

	position:absolute;
	bottom:0;
	right:0;
	max-height:150%;
	min-width:100%;
	z-index:0;
}

@media (max-width:780px;){
	#video-back{
	
	}
}


/* ! BG cover*/

.bg-cover{
	display:flex;
	padding: 100px 0;
	background:  linear-gradient(0deg, rgba(0,0,0,.7), rgba(0,0,0,.7) 70.71%),
	 url('batman.jpg') no-repeat center center;
	background-size: cover;
}

.bg-cover__text{
	width:50%;
	padding: 30px;
}

.bg-cover__title{
	width:50%;
	padding:50px;
	display:flex;
	align-items:center;
}

@media (max-width: 768px){
	.bg-cover{flex-wrap:wrap;height:auto;}
	.bg-cover__text,
	.bg-cover__title{width:100%;padding 50px;}
}


/*! Grid */

.grid{display:flex; max-width:1350px; padding 0 30px; margin: 0 auto; }

.grid .col{width:100%; padding: 0 30px;}

@media (max-width: 768px){
	.grid{flex-wrap:wrap;}
}


/* ! Helpers  */

.mt-1{margin-top:50px;}
.mt-2{margin-top:100px;}
.mt-3{margin-top:150px;}

.tw{color:#fff}


/*! Carousel */

.main-corousel{padding: 40px 0; margin-left:130px}
.carousel-cell{height: 350px; width: 350px; margin:40px; border-radius:100%; margin-bottom:150px; background:#fff; display:flex; align-items:center; padding-left:75px; }
.carousel-cell img { width:200px; margin-top:110px;}
.carousel-cell__content p{width:300px; margin-top:70px;}
/*! footer */

.footer{
	margin-top: 150px;
	padding: 150px 0;
	background: #010e30;	
}

@media (max-width: 768px){
	.footer{
		padding-left:40px;
		padding-bottom:50px;
	}
}



*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	   -moz-box-sixing: border-box; 
			box-sizing: border-box;
}