.header{
	width: 100%;
	top:0;
	left:0;
	padding: 30px;
	display:flex;
	max-width: 1350;
	z-index:10;
}
.logo{
	z-index: 1;
}

.logo img{
	width:815x;
	height: 15px;
	
}



body{
	align:center;
	font-family: sans-serif;
}




